.img-container {
  margin: 0 auto;
  width: 100%;
  padding-bottom: 20px;
}

.image {
  max-width: 100%;
  padding: 30px;
}

@media screen and (max-width: 960px) {
  .heading {
    margin: 20px;
    font-size: 2.5rem;
  }

  p {
    font-size: 1.3rem;
  }

  /* main {
    display: flex;
    flex-direction: column;
  } */
}
