.ai-heading {
  padding: 30px;
}

.future-of-ai-container {
  display: flex;
  width: 90%;
}

.left-rail {
  width: 27%;
}

.ai-body-container {
  width: 38%;
  text-align: left;
}

.ai-body-container p {
  padding: 10px 0px 10px 0px;
}

.ai-body-container h2 {
  text-align: center;
}

.ai-body-container img {
  min-width: 100%;
}

.right-rail {
  margin: 0 auto;
  width: 27%;
}

@media screen and (max-width: 960px) {
  .left-rail {
    display: none;
  }
}
