.home-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  height: 100vh;
}

img {
  padding: 30px;
}

.goto-page-links {
  color: #464747;
  text-decoration: none;
  padding: 10px;
}

.goto-page-links:hover {
  text-decoration: underline;
  color: blue;
}
