.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #060b26;
  color: white;
  /* margin: 0px 20px; */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.social-links-div {
  margin-left: 20px;
}

.footer-links {
  color: white;
  margin: 6px;
  font-size: 1.2rem;
  text-decoration: none;
}

.footer-links:hover {
  color: yellow;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  /* padding-left: 20px 30px 20px 30px; */
}

.footer-routes {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-align: left;
  line-height: 1;
  margin-top: 10px;
  padding-left: 20px;
  /* font-weight: bold; */
}

.footer-routes:hover {
  color: yellow;
}

small {
  padding-right: 20px;
}

.about {
  color: white;
  text-decoration: none;
}
