* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

#root {
  width: 100%;
}

body {
  background-color: #fff;
  display: flex;
  min-height: 100vh;
  position: relative;
}

.pages {
  color: #464747;
  text-align: center;
  margin-top: 70px;
  line-height: 1.5;
}

.container {
  margin: auto;
  width: 80%;
  /* min-height: 100vh; */
}
