@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,700;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

#root {
  width: 100%;
}

body {
  background-color: #fff;
  display: flex;
  min-height: 100vh;
  position: relative;
}

.pages {
  color: #464747;
  text-align: center;
  margin-top: 70px;
  line-height: 1.5;
  min-height: 100vh;
}

.container {
  margin: auto;
  width: 80%;
  /* min-height: 100vh; */
}

.heading {
  margin: 15px;
  font-size: 3.3rem;
}

.back-home-link {
  margin: 100px;
}

.back-home-link a {
  text-decoration: none;
  color: #464747;
  font-size: 1.8rem;
}

.back-home-link a:hover {
  color: blue;
  text-decoration: underline;
}

.push {
  height: 200px;
}
